html {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100px;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: .875rem;
  font-style: italic;
}

ul {
  display: flex;
  list-style-type: none;
}

li:first-child {
  background-color: #f2f2f2;
}

li:nth-child(2) {
  background-color: #e2e2e2;
}

li:nth-child(3) {
  background-color: #aaa;
}


li:last-child {
  background-color: #999;
}


h2, p {
  font-size: 1rem;
}

a {
  font-size: .875rem;
  text-decoration: none;
  color: #f2f2f2;
  background-color: #333;
  border-radius: 4px;
  display: flex;
}
