html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #f2f2f2;
  margin: 0 auto 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  margin: 1.5rem;
}

img {
  width: 100%;
  display: block;
}

.image {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 5rem;
  padding-top: .75rem;
  padding-bottom: 1.25em;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: .875rem;
  font-style: italic;
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  max-width: 265px;
}

.text {
  margin: 0 auto;
  padding: .75rem;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

li {
  border-right: 1px solid #333;
}

li:first-child {
  background-color: #e2e2e2;
  border-left: 1px solid #333;
  width: 25%;
}

li:nth-child(2) {
  background-color: #ccc;
  width: 25%;
}

li:nth-child(3) {
  background-color: #aaa;
  width: 25%;
}

li:last-child {
  background-color: #999;
  width: 25%;
}

h2, p {
  font-size: 1rem;
}

.btn {
  color: #fff;
  background-color: #333;
  border-radius: 7px;
  margin: .5rem;
  display: flex;
  padding: .5rem;
  flex-wrap: wrap;
  flex-grow: 1;
}

.btn-small {
  font-size: .875rem;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
  color: #ccc;
}
