html {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100px;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

ul {
  display: flex;
  list-style-type: none;
}

h2, h3, p {
  font-size: 1rem;
}

.quest {
  background-color: #ccc;
}

a {
  font-size: .875rem;
}
